<footer class="site-footer" style="text-align: center">
  <div class="wrapper">
    <div class="footer-links">
      <a href="https://linkedin.com/in/longtrieuquang" target="_blank">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
          alt="LinkedIn"
          width="30"
        />
      </a>
      <a href="https://github.com/longtrieu" target="_blank">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          alt="GitHub"
          width="30"
        />
      </a>
      <a href="mailto:longtrieuquang@gmail.com">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
          alt="Email"
          width="30"
        />
      </a>
    </div>
  </div>
</footer>
